<!-- Skills -->

<section id="skills" class="skills">
  <div class="contenido-seccion">
    <h2>Skills</h2>
    <div class="fila">
    <!-- Hard skills -->
    <div class="columna">
      <h3>Hard skills</h3>
      <div class="skill">
        <span>JavaScript</span>
        <div class="barra-skill">
          <div class="progreso javascript">
            <span>75%</span>
          </div>
        </div>
      </div>
      <div class="skill">
        <span>Html y Css</span>
        <div class="barra-skill">
          <div class="progreso htmlcss">
            <span>80%</span>
          </div>
        </div>
      </div>
      <div class="skill">
        <span>React</span>
        <div class="barra-skill">
          <div class="progreso react">
            <span>50%</span>
          </div>
        </div>
      </div>
      <div class="skill">
        <span>Angular</span>
        <div class="barra-skill">
          <div class="progreso angular">
            <span>60%</span>
          </div>
        </div>
      </div>
      <div class="skill">
        <span>Vue</span>
        <div class="barra-skill">
          <div class="progreso vue">
            <span>40%</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Soft skills -->
    <div class="columna">
      <h3>Soft skills</h3>
      <div class="skill">
        <span>Comunicacion</span>
          <div class="barra-skill">
            <div class="progreso comunic">
              <span>75%</span>
            </div>
          </div>
      </div>
      <div class="skill">
        <span>Capacidad resolutiva</span>
          <div class="barra-skill">
            <div class="progreso capres">
              <span>70%</span>
            </div>
          </div>
      </div>
      <div class="skill">
        <span>Creatividad</span>
          <div class="barra-skill">
            <div class="progreso creat">
              <span>90%</span>
            </div>
          </div>
      </div>
      <div class="skill">
        <span>Scrum</span>
          <div class="barra-skill">
            <div class="progreso scrum">
              <span>40%</span>
            </div>
          </div>
      </div>
      <div class="skill">
        <span>Ingles</span>
          <div class="barra-skill">
            <div class="progreso ingles">
              <span>30%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</section>
