/* Skills */

.skills {
  background-color: #1e2326;
  color: #fff;
  padding: 50ps 20px;
}

.skills .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.skills h2 {
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}

.skills .fila {
  display: flex;
}

.skills .fila .columna {
  width: 50%;
  padding: 0 20px;
}

.skills .fila .columna h3 {
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 25px;
}

.skills .skill > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.skills .skill .barra-skill {
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}

.skills .skill .progreso {
  background-color: #1cb698;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}

.skills .skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1cb698;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

/* Estas clases se agregan dinamicamente mediante JavaScript */
/* Hard skills */

.skills .skill .javascript {
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript {
  0%{width: 0%;}
  100%{width: 75%;}
}

.skills .skill .htmlcss {
  width: 0%;
  animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
  0%{width: 0%;}
  100%{width: 80%;}
}

.skills .skill .react {
  width: 0%;
  animation: 2s react forwards;
}
@keyframes react {
  0%{width: 0%;}
  100%{width: 50%;}
}

.skills .skill .angular {
  width: 0%;
  animation: 2s angular forwards;
}
@keyframes angular {
  0%{width: 0%;}
  100%{width: 60%;}
}

.skills .skill .vue {
  width: 0%;
  animation: 2s vue forwards;
}
@keyframes vue {
  0%{width: 0%;}
  100%{width: 40%;}
}

/* Soft skills */

.skills .skill .comunic {
  width: 0%;
  animation: 2s comunic forwards;
}
@keyframes comunic {
  0%{width: 0%;}
  100%{width: 75%;}
}

.skills .skill .capres {
  width: 0%;
  animation: 2s capres forwards;
}
@keyframes capres {
  0%{width: 0%;}
  100%{width: 70%;}
}

.skills .skill .creat {
  width: 0%;
  animation: 2s creat forwards;
}
@keyframes creat {
  0%{width: 0%;}
  100%{width: 90%;}
}

.skills .skill .scrum {
  width: 0%;
  animation: 2s scrum forwards;
}
@keyframes scrum {
  0%{width: 0%;}
  100%{width: 40%;}
}

.skills .skill .ingles {
  width: 0%;
  animation: 2s ingles forwards;
}
@keyframes ingles {
  0%{width: 0%;}
  100%{width: 30%;}
}

/* Responsive */

@media screen and (max-width:700px) {
  .skills .fila {
flex-direction: column;
  }
  .skills .fila .columna {
    width: 100%;
  }
  .skills .fila .columna .barra-skill {
    width: 100%;
  }  
}