<!-- Sobre mi -->
<section id="sobremi" class="sobremi">
  <div class="contenido-seccion">
    <h2>Sobre mi</h2>
    <P><span>Hola, soy Samanta Cepeda.</span>Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Facere officia exercitationem itaque voluptatum vero ipsam
      praesentium omnis reprehenderit quasi, molestias rem voluptates cupiditate ea 
      enim nihil laboriosam impedit nisi quos. Lorem ipsum, dolor sit amet consectetur 
      adipisicing elit. Numquam possimus consectetur, nesciunt quo optio adipisci corporis 
      repellendus tenetur officiis est deleniti non voluptatibus delectus corrupti assumenda, 
      molestias officia iste sit.</P>
  </div>
  <div>
    <button>
      Descargar CV <i class="bi bi-download"></i>
      <span class="overlay"></span>
    </button>
  </div>
</section>

