<header class="contenedor">
<!-- Barra de navegacion -->
  <div class="header">
    <div>
      <img src="../../../assets/img/APLogo.png" alt="Logo de argentina programa" class="logo">
    </div>
    <nav id="nav">
      <ul>
        <li><a href="#inicio">INICIO</a></li>
        <li><a href="#sobremi">SOBRE MI</a></li>
        <li><a href="#curriculum">CURRICULUM</a></li>
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#contacto">CONTACTO</a></li>
        <li><button class="btn">LOGIN</button></li>
      </ul>
    </nav>
    <div class="nav-responsive">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </div>
  </div>
</header>