<!-- Barra de navegacion -->
<header class="contenedor">
  <div class="header">
    <div>
      <img src="../../../assets/img/APLogo.png" alt="Logo de argentina programa" class="logo">
    </div>
    <nav id="nav">
      <ul>
        <li><a href="#inicio">INICIO</a></li>
        <li><a href="#sobremi">SOBRE MI</a></li>
        <li><a href="#curriculum">CURRICULUM</a></li>
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
      </ul>
      <div>
        <button>
          <i class="bi bi-caret-right"></i>LOGIN
          <span class="overlay"></span>
        </button>
      </div>
    </nav>
    <div class="nav-responsive">
      <a href="#"><i class="bi bi-list"></i></a>
    </div>
  </div>
</header>

<!-- Inicio -->
<section id="inicio" class="inicio">
  <div class="contenido-banner">
    <div class="contenedor-img">
      <img src="../../../assets/img/foto-perfil.jpg" alt="Foto de perfil">
    </div>
    <h1>Samanta Cepeda</h1>
    <h2>Desarrolladora Full Stack</h2>
    <div class="redes">
      <a href="#"><i class="bi bi-linkedin"></i></a>
      <a href="#"><i class="bi bi-github"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-facebook"></i></a>
    </div>
  </div>
</section>