<!-- Portfolio -->
<section id="portfolio" class="portfolio">
  <div class="contenido-seccion">
    <h2>Portfolio</h2>
    <div class="galeria">
      <div class="proyecto">
        <img src="../../../assets/img/proyecto1.png" alt="proyecto1">
        <div class="overlay">
          <h3>Encriptador JS</h3>
          <a href="https://github.com/SamantaVCepeda/Challenge-Encriptador" target="_blank" rel="noopener noreferrer">github</a>
        </div>
      </div>
      <div class="proyecto">
        <img src="../../../assets/img/proyecto2-GIF.gif" alt="proyecto2">
        <div class="overlay">
          <h3>Contador de clics React</h3>
          <a href="https://github.com/SamantaVCepeda/React-contador-clic" target="_blank" rel="noopener noreferrer">github</a>
        </div>
      </div>
      <div class="proyecto">
        <img src="../../../assets/img/proyecto3-GIF.gif" alt="proyecto3">
        <div class="overlay">
          <h3>Calculadora React</h3>
          <a href="https://github.com/SamantaVCepeda/React-calculadora" target="_blank" rel="noopener noreferrer">github</a>
        </div>
      </div>
      <div class="proyecto">
        <img src="../../../assets/img/proyecto4-GIF.gif" alt="proyecto4">
        <div class="overlay">
          <h3>Aplicacion de tareas React</h3>
          <a href="https://github.com/SamantaVCepeda/Challenge-Encriptador" target="_blank" rel="noopener noreferrer">github</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer>
  <a href="#inicio" class="arriba">
    <i class="bi bi-arrow-bar-up"></i>
  </a>
  <div class="redes">
    <a href="#"><i class="bi bi-linkedin"></i></a>
    <a href="#"><i class="bi bi-github"></i></a>
    <a href="#"><i class="bi bi-instagram"></i></a>
    <a href="#"><i class="bi bi-facebook"></i></a>
  </div>
</footer>