<!-- Curriculum -->
<section id="curriculum" class="curriculum">
  <div class="contenido-seccion">
    <h2>Curriculum</h2>
    <div class="fila">
      <div class="columna izquierda">
        <h3>Educacion</h3>
        <div class="item izq">
          <h4>Arte y Multimedia</h4>
          <span class="casa">Universidad</span>
          <span class="fecha">2005 - 2008</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Alias quo corrupti officia aut, natus dolorem numquam qui 
            eius iusto dolor dolorum a voluptatem, magni ipsa ipsam ex 
            similique sed. Quisquam.</p>
            <div class="conectori">
              <div class="circuloi">
              </div>
            </div>
        </div>
        <div class="item izq">
          <h4>Arte y Multimedia</h4>
          <span class="casa">Universidad</span>
          <span class="fecha">2005 - 2008</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Alias quo corrupti officia aut, natus dolorem numquam qui 
            eius iusto dolor dolorum a voluptatem, magni ipsa ipsam ex 
            similique sed. Quisquam.</p>
            <div class="conectori">
              <div class="circuloi">
              </div>
            </div>
        </div>
      </div>
      <div class="columna derecha">
        <h3>Experiencia laboral</h3>
        <div class="item der">
          <h4>Front Developer</h4>
          <span class="casa">Compania</span>
          <span class="fecha">2005 - 2008</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Alias quo corrupti officia aut, natus dolorem numquam qui 
            eius iusto dolor dolorum a voluptatem, magni ipsa ipsam ex 
            similique sed. Quisquam.</p>
            <div class="conectord">
              <div class="circulod">
              </div>
            </div>
        </div>
        <div class="item der">
          <h4>Front Developer</h4>
          <span class="casa">Compania</span>
          <span class="fecha">2005 - 2008</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Alias quo corrupti officia aut, natus dolorem numquam qui 
            eius iusto dolor dolorum a voluptatem, magni ipsa ipsam ex 
            similique sed. Quisquam.</p>
            <div class="conectord">
              <div class="circulod">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>    
</section>
